<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DeepRacer Timer</title>
    <link rel="stylesheet" href="/view.css">
</head>

<body>
    <div id="stream">
        <div id="session_txt">Time:<span id="session"></span><span id="lapcount_txt">Laps:<span id="lapcount"></span></span></div>
        <div id="bestlap_txt">Best:<span id="bestlap"></span></div>
        <div id="lastlap_txt">Last:<span id="lastlap"></span></div>
    </div>
</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/view.js"></script>
